.question= f.label :title, Page.human_attribute_name(:title)
.answer= f.text_field :title

.question= f.label :subtitle, Page.human_attribute_name(:subtitle)
.answer= f.text_field :subtitle

.question= f.label :body, Page.human_attribute_name(:body)
.answer= f.text_field :body